<div class="model-overlay" hidden>
  <h3 class="add-family-heading">Add a family name</h3>
  <div class="model-save-input">
    <input type="text" placeholder="Name" class="family-name-input">
    <button type="submit" class="submit-family btn btn-primary">Add</button> 
  </div>
</div>