<div class="model-overlay" hidden>
  <h3 class="add-family-heading">Add a family name</h3>
  <div class="model-save-input">
    <input type="text" placeholder="Name" class="family-name-input">
    <button class="submit-family">Add</button>
  </div>
</div>