<div class="my-commity">
  <button class="navbar-toggler navbar-little-icon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon active"></span>
  </button>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/"><img src="/images/Screenshot 2023-04-10 112519.png" alt="" width="100" ></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Retour à l'accueil</span></a>
        <li class="nav-item">
          <a class="nav-link events" href="/event">Événement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Prix</a>
        </li>
      </ul>
    </div>
    <div class="col-auto input-field">
      <button type="submit" class="btn btn-primary mb-2 btn-show-hidden-box">Ajouter Committee</button>
    </div>
  </nav>


  <div class="commity-member">
    {{#each commityData}}
    <div class="card border-dark mb-3 commity-member-content" style="max-width: 18rem;">
      <div class="card-header">{{firstName}}</div>
      <div class="card-body text-dark">
        <h5 class="card-title">{{lastName}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <P>Born{{dateOfBirth}}</P>
        <div style="padding: 10px;">
          <button class="delete-commity-member btn btn-danger" data-id="{{id}}">Suprimer</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="add-commity" hidden>
    <form>
      <div class="form-row">
        <div class="col input-field">
          <input type="text" class="form-control code" placeholder="Code d'administrateur">
        </div>
        <div class="col input-field">
          <input type="text" class="form-control commityFirstName" placeholder="Prénom du condidat">
        </div>
        <div class="col input-field">
          <input type="text" class="form-control commityLastName" placeholder="Nom du condidat">
        </div>
        <div class="col input-field">
          <input type="text" class="form-control commityDateOfBirth" placeholder="Date de naissance">
        </div>
        <div class="col-auto input-field">
          <button type="submit" class="btn btn-primary mb-2 commity-submit-btn">soumettre</button>
          <button type="button" class="btn btn-primary mb-2 bg-danger close-box">Fermer</button>
        </div>
      </div> 
    </form>
  <div>
</div>


<script src="/javascript/add-delete-edit-commity.js"></script>