<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/"><img src="/images/Screenshot 2023-04-10 112519.png" alt="" width="100" ></a>
  <button class="navbar-toggler navbar-little-icon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon active"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" id="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/commity" id="nav-link-padding">Comité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/event" id="nav-link-padding">Événement</a>
      </li>
            <li class="nav-item">
        <button class="nav-link logout" id="nav-link-padding">Se déconnecter</button>
      </li>
      <li class="nav-item">
        {{!-- you can able this when the user is an admin  --}}
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <form class="form-inline navbar-collapse">
    <input class="form-control mr-sm-2" type="search" placeholder="Recherche par nom de famille" aria-label="Search" id="search-family-input">
    <button class="btn btn-outline-success my-2 my-sm-0 fa-beat-fade" id="search" type="submit">Recherche</button>
  </form>
  <button class="add-model btn btn-primary">Ajouter Une famille</button>
</nav>
{{> addFamilyOverlay}}
<div class="main-homepage-div" id="main">
  {{!-- displya all the family data  --}}
  <div class="row main-row">
    {{#each familyData as |data|}}
    <div class="col-sm col-lg-4 col-md-2 family_boxes">
      {{> family-info data }}
    </div>
    {{/each}}
  </div>
</div>

<script src="/javascript/familyEditOrDelete.js"></script>
{{!-- if the button add is clicked then call this script --}}
<script src="/javascript/add-family.js"></script>
<script src="/javascript/search-family.js"></script>
<script src="/javascript/logout.js"></script>