<div class="main-homepage-div" id="main">
  {{> addFamilyOverlay}}

  {{!-- displya all the post data  --}}
  <div class="row main-row">
    {{!-- You need to add this to be able to display all the data, this is a foreach loop --}}
    {{#each familyData as |data|}}
    <div class="col-sm col-lg-4 col-md-2 family_boxes">
      {{!-- get the partial from post-info.handlebars file --}}
      {{!-- the > here will search for a partial, then the post-info is the name of the partial, final the post is the post data from post a post route  --}}
      {{> family-info data }}
    </div>
    {{/each}}
  </div>
</div>

<button class="add-model">Add here</button>

<script src="/javascript/familyEditOrDelete.js"></script>

{{!-- if the button add is clicked then call this script  --}}
<script src="/javascript/add-family.js"></script>