<div class="container header">
  <div class="col header-left">
    <i class="fab fa-canadian-maple-leaf fa-3x"></i>
  </div>
  <div class="col header-right">
    <h4>Tizi Guefres Mon village</h4>
  </div>	
</div>
<div class="login-page">
  <div>
    <div class="container content">
      <div class="form-content">
      <h4>Please fill out the details to continue with our website.</h4>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username</span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">Password</span>
          </div>
          <input type="password" class="form-control" aria-label="Password" aria-describedby="basic-addon2">
        </div>
        <div class="input-group mb-3">
          <a href="/"><button type="button" class="btn btn-primary mb-2">Login</button></a>
        </div>
      </div>
    </div>
  </div>
  <div>

	<div class="container content">
    <div class="form-content">
      <h4>SignUp if you dont have an account.</h4>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Username</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">Password</span>
        </div>
        <input type="password" class="form-control" aria-label="Password" aria-describedby="basic-addon2">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">email</span>
        </div>
        <input type="text" class="form-control" aria-label="Email" aria-describedby="basic-addon2">
      </div>
      <div class="input-group mb-3">
        <a href="/"><button type="button" class="btn btn-primary mb-2">SignUp</button></a>
      </div>
    </div>
	</div>
  </div>
</div>


<div>
  The perpos of this website id that you can view all members of tizi Guefres village, also all the events that are will be orgnized anytime soon.
  also you are able to see the commity memebers.
  as a village member, you can add submit a form if something need to be fixed
</div>
