<div class="login-page">
  <div class="container header">
    <div class="col header-left">
      <i class="fab fa-canadian-maple-leaf fa-3x"></i>
    </div>
    <div class="col header-right">
      <h4>Tizi Guefres Mon village</h4>
    </div>	
  </div>
  <div class="login-page">
    <div>
      <div class="container content">
        <div class="form-content">
        <h4>Veuillez remplir les détails pour continuer avec notre site Web.</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Email</span>
            </div>
            <input type="text" class="form-control email-login" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">Mot de passe</span>
            </div>
            <input type="password" class="form-control password-login" aria-label="Password" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <button type="button" class="btn btn-primary mb-2 login">Se connecter</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container content">
        <div class="form-content">
          <h4>Inscrivez-vous si vous n'avez pas de compte.</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nom d'utilisateur</span>
            </div>
            <input type="text" class="form-control username-signup" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">Mot de passe</span>
            </div>
            <input type="password" class="form-control password-signup" aria-label="Password" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">email</span>
            </div>
            <input type="text" class="form-control email-signup" aria-label="Email" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <button type="button" class="btn btn-primary mb-2 signup-btn signup">S'inscrire</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="login-context">
    <div>
      <h4>Le but de ce site est de rendre les choses plus faciles et plus rapides pour les membres de tizi gaufres. comme mentionné ci-dessous</h4>
      <ul>
        <li>Voir toutes les familles qui existent dans le village de tizi guefres</li>
        <li>Voir tous les membres du Village Tizi Guefres</li>
        <li>Voir les membres du comité du village</li>
        <li>Voir les événements organisés par le village</li>
        <li>L'administrateur pourra ajouter une famille, un membre, un événement. et il peut modifier ou supprimer toute famille, membre et événement</li>
      </ul>
    </div>
    <div>
      Merci!
    </div>
  </div>
</div>


<script src="/javascript/login.js"></script>