<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/"><img src="/images/Screenshot 2023-04-10 112519.png" alt="" width="100" ></a>
  <button class="navbar-toggler navbar-little-icon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon active"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#propos" id="nav-link-padding">A Propos <i class="fa-solid fa-address-card"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fa-beat-fade" href="#connect" id="nav-link-padding">Se connecter <i class="fa-solid fa-right-to-bracket"></i></a>
      </li>
    </ul>
  </div>
</nav>


<div class="">
  <div class="login-page" id="connect">
    <div>
      <div class="container content">
        <div class="form-content">
        <h4>Veuillez remplir les détails pour continuer avec notre site Web.</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Email</span>
            </div>
            <input type="text" class="form-control email-login" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">Mot de passe</span>
            </div>
            <input type="password" class="form-control password-login" aria-label="Password" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <button type="button" class="btn btn-primary mb-2 login">Se connecter</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container content">
        <div class="form-content">
          <h4>Inscrivez-vous si vous n'avez pas de compte.</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">email</span>
            </div>
            <input type="text" class="form-control email-signup" aria-label="Email" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nom d'utilisateur</span>
            </div>
            <input type="text" class="form-control username-signup" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">Mot de passe</span>
            </div>
            <input type="password" class="form-control password-signup" aria-label="Password" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <button type="button" class="btn btn-primary mb-2 signup-btn signup">S'inscrire</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-main-div">
  <div class="carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
    <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
    <ul data-slides>
      <li class="slide" data-active>
        <img src="../images/tizi3.jpg" alt="Nature Image #4">
      </li>
      <li class="slide">
        <img src="../images/tizi.jpg" alt="Nature Image #3">
      </li>
      <li class="slide">
        <img src="../images/tizi2.jpg" alt="Nature Image #2">
      </li>
      <li class="slide">
        <img src="../images/5.jpg" alt="Nature Image #1">
      </li>
    </ul>
  </div>
  <figcaption class="figure-caption">Une photo d'un des beaux endroits au coeur du village <i class="fa-solid fa-heart"></i></figcaption>
</div>


  <div id="propos">
    <div class="row mt-3 propos-row bg-light p-4">
      <div class="col-sm m-2 bg-dark  text-secondary p-5 rounded">
        <blockquote></blockquote>
        <h4 >À propos de se site</h4>
        <ul>
          <li>Voir toutes les familles qui existent dans le village de tizi guefres</li>
          <li>Voir tous les membres du Village Tizi Guefres</li>
          <li>Voir les membres du comité du village</li>
          <li>Voir les événements organisés par le village avec date et lieux</li>
          <li>Signaler un problem</li>
        </ul>
        <a href="#connect"><button class="btn btn-primary my-2 my-sm-0 explore">Explorer</button></a>
      </div>

      <div class="col-sm m-2 bg-dark  text-secondary p-5 rounded">
        <blockquote></blockquote>
        <h4>Dois Savoir</h4>
        <ul>
          <li>Seul l'administrateur pourra ajouter une famille, un membre, un événement. et il peut modifier ou supprimer toute famille, membre et événement</li>
          <li>Vous pouvez tout signaler à l'administrateur</li>
        </ul>
        <a href="#connect"><button class="btn btn-primary my-2 my-sm-0 explore">Explorer</button></a>      </div>

      <div class="col-sm m-2 bg-dark  text-secondary p-5 rounded">
        <blockquote></blockquote>
        <h4>Pour plus d'informations contact moi sur</h4>
        <ul>
          <li>Instagram <i class="fa-brands fa-instagram fa-flip" style="color: #ff3300;"></i></li>
          <li>Facebook <i class="fa-brands fa-facebook fa-flip" style="color: #0e65fb;"></i></li>
          <li>Telephone 0550505656</li>
        </ul>
        <a href="#connect"><button class="btn btn-primary my-2 my-sm-0 explore">Explorer</button></a>
      </div>
    </div>
  </div>
</div>



<script src="/javascript/login.js" defer></script>
<script src="/javascript/script.js" defer></script>
<script src="/javascript/search-family.js" defer></script>