<div class="login-page">
  <div class="container header">
    <div class="col header-left">
      <i class="fab fa-canadian-maple-leaf fa-3x"></i>
    </div>
    <div class="col header-right">
      <h4>Tizi Guefres Mon village</h4>
    </div>	
  </div>
  <div class="login-page">
    <div>
      <div class="container content">
        <div class="form-content">
        <h4>Please fill out the details to continue with our website.</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Email</span>
            </div>
            <input type="text" class="form-control email-login" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">Password</span>
            </div>
            <input type="password" class="form-control password-login" aria-label="Password" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <button type="button" class="btn btn-primary mb-2 login">Login</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container content">
        <div class="form-content">
          <h4>SignUp if you dont have an account.</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Username</span>
            </div>
            <input type="text" class="form-control username-signup" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">Password</span>
            </div>
            <input type="password" class="form-control password-signup" aria-label="Password" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">email</span>
            </div>
            <input type="text" class="form-control email-signup" aria-label="Email" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <button type="button" class="btn btn-primary mb-2 signup-btn signup">SignUp</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="login-context">
    <div>
      <h4>The purpose of this website is to make things easier and faster for tizi gaufres members. as mentioned below</h4>
      <ul>
        <li>View all families that does exist in tizi guefres village</li>
        <li>View all members of the Tizi Guefres Village</li>
        <li>View the commitee members of the village</li>
        <li>View the events that are orgnized by the village</li>
        <li>The admin will be able to add a family, member, event. and he/she can edit or delete any Family, member and event</li>
      </ul>
    </div>
    <div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, voluptatem!
    </div>
  </div>
</div>


<script src="/javascript/login.js"></script>