*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  min-height: 100vh;
  background-color: black;
}
.row{
  min-height: 100vh;
}


.family_boxes{
  background-color: rgb(145, 145, 217);
  border: 5px solid black;
  width: 100%;
  height: 100%;
  padding: 25px;
}


.main-div{
  position: relative;
}

.model-overlay{
  position: absolute;
  top: 40%;
  left: 40%;
  padding: 100px;
  width: 300px;
  background-color: rgb(12, 12, 12);
  display: none;
}