*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  margin-bottom: 20px;
  color: white;
}


.main{
  min-height: 100vh;
  background-color: rgb(5, 11, 70);
  padding: 10px;
}

.add-model{
  margin: 10px;
}

.row{
  min-height: 100vh;
}

.family_boxes{
  margin-bottom: 10px;
}


.main-homepage-div{
  position: relative;
}

.model-overlay{
  border-radius: 25px;
  position: sticky;
  top: 10%;
  left: 40%;
  padding: 80px;
  margin-bottom: 15px;
  width: 300px;
  background-color: rgb(96, 93, 93);
  /* display: none; */
  z-index: 999;
}

.add-family-heading{
  font-size: 17px;
}

.model-save-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}


.add-family-container{
  border-radius: 25px;
  position: sticky;
  top: 40%;
  left: 40%;
  padding: 80px;
  width: 300px;
  background-color: rgb(192, 12, 12);
  /* display: none; */
  z-index: 999;
}


.save-btn{
  background-color: blue;
  width: 50px;
}


.form-content{
  color: white;
}

.members{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
}

.show-add-member-box{
  margin-top: 20px;
}

.navbar-collapse{
  display: flex;
  align-items: center;
  justify-content: center;
}

.close{
  margin: 15px;
}


.commity-member {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}


.my-commity{
  position: relative;
}

.add-commity, .add-event{
  background-color: rgb(40, 6, 175);
  color: aliceblue;
  position:absolute;
  top: 40%;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30%; */
  padding: 25px;
  min-height: 30vh;
  border-radius: 20%;
}


.input-field{
  margin: 10px;
}

.page-wrap {
  min-height: 100vh;
  color: white;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid #28a745;
  background: #495057;
  color: #fff;
  padding: 1%;
}

.header-left i{
  margin-left: 5%;
}

.header-right h4{
  text-align: right;
  margin-right: 10%;
  line-height: 2; 
}

.content{
  background: #28a745;
  width: 70%;
  border-radius: 15px;
}

.content .form-content{
  padding:10%;
}

.content .form-content .input-group .input-group-text{
  background:#333;
  color:#fff;
  border:none;
  border-radius:0;
  font-weight: 600;
}

.content .form-content .input-group input{
  border-radius: 0;
}

.content .form-content .input-group input:focus{
  border-color: transparent;
}

.content .form-content h4{
  margin-bottom:5%;
}

.content .form-content button{
  background: #333;
  color: #fff;
  border-radius: 0;
  font-weight: 600;
}

.login-page{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top:15px;
}


.fa-canadian-maple-leaf{
  color: #28a745;
}


.events{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.login-page{
  background-image: url(/images/tizi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.login-context{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}